.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

.color-item {
  background: lightgrey;
}

p {
  font-family: Lato;
}